/* Styles for the first-level FAQ-page. */
.faq-page {
  padding: 10px;
  background: white;

  a {
    color: $text-color;
    &:hover {
      text-decoration: none;
    }
  }

  .faq-questions {
    text-align: center;

    .faq-category-group {
      margin: 0 5px;
      height: 300px;
      width: 250px;
      display: inline-block;
      overflow: hidden;

      .faq-category-image {
        margin-bottom: 10px;
      }
    }
  }
}
